body{
  background: #fafafa;
  font-family: 'inter';
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstSection {
  padding: 100px;
  width: 100%;
  max-width: 2000px;
  display: flex;
  gap: 250px;
  justify-content: center;
  background: url(../../assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
   .logo{
    margin-top: 100px;
    width: 293px;
    height: 105px;
    margin-bottom: 50px;
   }
   h2{
    font-size: 40px;
    font-weight: bold;
    width: 520px;
    margin-bottom: 30px;
    line-height: 130%;
   }
   p{
    font-size: 18px;
    font-weight: 500;
    width: 500px;
    margin-bottom: 30px;
    line-height: 160%;
   }
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  width: 528px;
  height: 823px;
  padding: 0 32px 0 32px;
  label{
    font-size: 32px;
    font-weight: 500;
    margin-top: 60px;
    width: 464px;
    line-height: 160%;
    font-weight: 600;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  input{
    width: 464px;
    padding: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #777777;
    font-size: 16px;
    color: #333;
    transition: 300ms;
    outline: none;
    &:hover{
      border: 1px solid #16726F;
    }
    &:focus{
      box-shadow: 0 0 0 2px #16726F;
    }
  }
  button{
    width: 500px;
    height: 70px;
    background: #16726F;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    &:hover{
      background-color: #175856;
      cursor: pointer;
    }
    transition: 300ms;
  }
}

.secondSection{
  padding: 55px ;
  display: flex;
  justify-content: center;
  .firstTr{
    background: #162F52;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }
  th{
    padding: 23px 120px;
  }
  .thGreen{
    background: #35B2AE;
  }
  td{
    background: #F3F3F3;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-align: center;
  }
}
